@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .chat-room {
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .chat-bubble {
      @apply min-w-40;
      .role-pill {
        @apply text-lg;
      }
      &.assistant {
        @apply bg-[#232037] text-white self-start;
        .role-pill {
          @apply text-[#fe754d] font-bold
        }
      }

      &.user {
        @apply bg-[#fe754d] text-white self-end;
        .role-pill {
          @apply text-[#232037] font-bold;
        }
      }
    }    
  }

  #modal-container {
    #web-gl-wrapper #web-gl-container {
      canvas {
        border-radius: 20px;
        width: 100% !important;
        height: 50% !important;
      }
    }
  }
}

